<ion-header>

</ion-header>

<ion-content>

  <div id="divCadastroQuadra">
    <ion-label>Cadastro de Quadra</ion-label>
  </div>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="quadra.nome"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Logradouro</ion-label>
    <ion-input [(ngModel)]="quadra.logradouro"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Bairro</ion-label>
    <ion-input [(ngModel)]="quadra.bairro"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Cidade</ion-label>
    <ion-input [(ngModel)]="quadra.cidade"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" id="esporte" class="label">
    <ion-select placeholder="Selecione o Esporte" [(ngModel)]="quadra.esporte">
      <ion-select-option *ngFor="let item of esportes" [value]="item.id">{{item.nome}}</ion-select-option>
    </ion-select>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Valor Hora</ion-label>
    <ion-input [(ngModel)]="quadra.valorHora"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input [(ngModel)]="quadra.telefone"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Descrição</ion-label>
    <ion-textarea [(ngModel)]="quadra.descricao"></ion-textarea>
  </ion-item>
  <br>

  <ion-button (click)="cadastrar()" expand="block" size="small">Cadastrar</ion-button>
  <ion-button expand="block" size="small" color="danger" [routerLink]="['/home-admin']">Cancelar</ion-button>
</ion-content>