<ion-header>

</ion-header>

<ion-content>

  <div id="divCadastroQuadra">
    <ion-label>Cadastro de Quadra</ion-label>
  </div>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Logradouro</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Bairro</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Cidade</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Esporte</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Valor Hora</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="descricao">
    <ion-label position="floating">Description</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <br>

  <ion-button expand="block" size="small" [routerLink]="['/login']">Cadastrar</ion-button>
</ion-content>