<ion-header>

</ion-header>

<ion-content>
  <ion-img src="./../../assets/img/logo.PNG"></ion-img>
  <br>

  <ion-item color="medium">
    <ion-label position="center"></ion-label>
    <ion-input placeholder="E-mail" maxlength="255" text-align="center" type="email" mask="E-mail" autocomplete="email"></ion-input>
  </ion-item>  

  <br>
  <ion-item color="medium">
    <ion-label position="center"></ion-label>
    <ion-input placeholder="Senha" type="password" text="Password" text-align="center"  #userPassword required></ion-input>
  </ion-item>

  <br>
  <ion-button expand="block" size="small" (click)="authService.SignIn(userName.value, userPassword.value)">Entrar
  </ion-button>
  <br>

  <div id="criarConta">
    <ion-router-link [routerLink]="['/register']">Criar Conta</ion-router-link>
  </div>


</ion-content>