ion-content  {
    --background: url("./../../assets/img/backgroundapp.jpeg") no-repeat center center / cover !important;
  }

ion-img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;
}

ion-item {
    width: 250px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

ion-button {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

ion-router-link {
    --color: #ffffff;
}


#criarConta {
    text-align: center;
}