<ion-header>

</ion-header>

<ion-content>


  <div id="divCadastroQuadra">
    <ion-label>Editar Quadra</ion-label>
  </div>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">{{quadra.nome}}</ion-label>
    <ion-input [(ngModel)]="quadraEdit.nome"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">{{quadra.logradouro}}</ion-label>
    <ion-input [(ngModel)]="quadraEdit.logradouro"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">{{quadra.bairro}}</ion-label>
    <ion-input [(ngModel)]="quadraEdit.bairro"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">{{quadra.cidade}}</ion-label>
    <ion-input [(ngModel)]="quadraEdit.cidade"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">{{quadra.esporte}}</ion-label>
    <ion-input [(ngModel)]="quadraEdit.esporte"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">{{quadra.valorHora}}</ion-label>
    <ion-input [(ngModel)]="quadraEdit.valorHora"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="label">
    <ion-label position="floating">{{quadra.telefone}}</ion-label>
    <ion-input [(ngModel)]="quadraEdit.telefone"></ion-input>
  </ion-item>
  <br>

  <ion-item color="secondary" class="descricao">
    <ion-label position="floating">{{quadra.descricao}}</ion-label>
    <ion-textarea name="descricao" [(ngModel)]="quadraEdit.descricao"></ion-textarea>
  </ion-item>

  <ion-button (click)="editar()" expand="block" size="small">Salvar</ion-button>
  <ion-button (click)="deletar()" color="danger" expand="block" size="small">Deletar</ion-button>


</ion-content>