<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>  
    
    <ion-item id="esporte">
      <ion-select placeholder="Esporte">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item id="cidade">
      <ion-select placeholder="Cidade">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item id="bairro">
      <ion-select placeholder="Bairro">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>

  <ion-item color="success" id="listaQuadras" href="/">
    <ion-label>
      Quadra da Vilarinho -> R$ 150/Hr
    </ion-label>
  </ion-item>

  <ion-item color="success" id="listaQuadras" href="/">
    <ion-label>
      Quadra da Vilarinho -> R$ 150/Hr
    </ion-label>
  </ion-item>

  <ion-item color="success" id="listaQuadras" href="/">
    <ion-label>
      Quadra da Vilarinho -> R$ 150/Hr
    </ion-label>
  </ion-item>

  <footer>
    <ion-icon name="home-outline" id="home" onclick="window.location.href='/home'" ></ion-icon>
    <ion-icon name="calendar-number-outline" id="calendar" onclick="window.location.href='/'"></ion-icon>
  </footer>

</ion-content>

    