<ion-header>

</ion-header>

<ion-content>

  <div id="divCadastroUsuario">
    <ion-label>Cadastro de Usuário</ion-label>
  </div>
  <br>  

  <ion-item color="medium">
    <ion-label position="center"></ion-label>
    <ion-input placeholder="Nome" type="text"></ion-input>
  </ion-item>
  <br>

  <ion-item color="medium">
    <ion-label position="center"></ion-label>
    <ion-input type="Telefone" placeholder="Telefone"></ion-input>
  </ion-item>
  <br>

  <ion-item color="medium">
    <ion-label position="center"></ion-label>
    <ion-input type="email" placeholder="Email" #userEmail required></ion-input>
  </ion-item>
  <br>

  <ion-item color="medium">
    <ion-label position="center"></ion-label>
    <ion-input type="password" placeholder="Senha" #userPwd required></ion-input>
  </ion-item>
  <br>

  <ion-button color="light" expand="block" size="small" (click)="authService.SignUp(userEmail.value, userPwd.value)">Cadastrar
  </ion-button>
</ion-content>